

<div class="bg-img">

    <div class="divtexto">        
        <h4>Sobre Comics</h4>
        <p>La historieta o cómic es una forma de expresión artística y un medio de comunicación que consisten en una serie de dibujos, dotados o no de texto de acompañamiento, que leídos en secuencia componen un relato o una serie de ellos. Suelen ir enmarcadas en viñetas, que son recuadros adaptados en forma y estilo al contenido narrativo o humorístico de la historia.
        La historieta es una forma de expresión bastante difundida en la historia de la humanidad, remontándose a formas pictóricas de representación narrativa como la presente en los jeroglíficos egipcios, pero adquiere su potencia real mediante el humor político, frecuente en las sociedades occidentales desde la época del Imperio Romano.
        Las viñetas de humor político representaban a los poderosos o a los gobernantes en situaciones soeces o atrevidas, por lo que a menudo eran anónimas y prácticamente ilegales. Sin embargo, la invención de la imprenta y de la litografía permitiría su masificación junto con los periódicos.
        A pesar de que muchos le asignaron durante años un lugar más bien secundario, la historieta ha sabido sobrevivir a los tiempos y convertirse hoy en el Noveno Arte.
        Ha habido grandes y reconocidos cultores de este género, tanto en Europa como en las Américas, entre los cuales destacan los estadounidenses Will Eisner y Art Spiegelman, los argentinos Oesterheld, Franquin, Trillo, Breccia y Altuna, o ilustradores contemporáneos como el escandinavo Jason, el italiano Milo Namara o Guido Crepax, entre muchos otros.
        ​</p>
        <div style="text-align: center;">
            <img src="/src/assets/img/efectos.jpg" alt="">
        </div>

    </div>
    

</div>
