
@media (max-width: 993px) {

    #minav{             
        text-align: center;
    }

    #navbarSupportedContent{        
       flex-direction: column;
    }
    #buscador{            
        flex-direction: column;
    }
}







