<nav id="minav" class="navbar navbar-expand-lg navbar-dark bg-dark" >
    <a  id="icono" class="navbar-brand" href="#"><img src="/assets/A-64.png"> </a>
    <button id="miboton" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/heroes']">Heroes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/miembros']">Miembros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/video']">Video</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/galleria']">Galleria</a>
        </li>

      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
      <div class="form-inline my-2 my-lg-0" id="buscador">
        <input class="form-control mr-sm-2" type="text" placeholder="Buscar Heroe" #buscarTexto (keyup.enter)="buscarUnHeroe(buscarTexto.value)">
        <button (click)="buscarUnHeroe(buscarTexto.value)" class="btn btn-outline-success my-2 my-sm-0" type="button">Buscar</button>
      </div>

    </div>
  </nav>
  <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
