

<div class="bg-img">
    
<div class="div_texto"  >
    En este apartado Les mostramos un video muy interesante para los fans de los comics,
    como todos sabemos los comics pueden ser muy especiales para nosotros, ¿Porque no vemos un <span style="font-style: oblique;"><b>Top 20 de comics mas caros del mundo</b></span>?
     del canal <span style="font-style: oblique;"><b>The Top Comics</b></span>. Y tal vez suscribirse a este tipo de canal que nos da material que tanto nos gusta.
</div>
<div class="video">

    

    <iframe  
    width="100%" 
    height="100%" 
    [src]="video | domseguro:'https://www.youtube.com/embed/' "
    frameborder="0"
     allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
     allowfullscreen
     >
    </iframe>
    
</div>

</div>
